name: Lint and Build

permissions:
  contents: write
  pull-requests: write

on:
  push:
    branches-ignore:
      - main

jobs:
  lint-and-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref_name }}
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - run: yarn install --frozen-lockfile
      - run: yarn lint
      - run: yarn tsc --noEmit
      - run: yarn build

      - name: Update notice file
        run: node bin/generate-notice.js

      - name: Commit attribution changes if needed
        run: |
          if [[ -n "$(git diff -- ATTRIBUTIONS.txt)" ]]; then
              git config user.name "github-actions[bot]"
              git config user.email "github-actions[bot]@users.noreply.github.com"
              git add ATTRIBUTIONS.txt
              git commit -m "Update ATTRIBUTIONS.txt"
              git push
          fi
