name: Lint and Build

permissions:
  contents: write

on:
  push:
    branches-ignore:
      - main

jobs:
  lint-and-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: get_installation_token
        with:
          app-id: 331246
          private-key: ${{ secrets.VOLUE_PLATFORM_BOT_KEY }}
          owner: ${{ github.repository_owner }}
      - name: Check out scripts
        uses: actions/checkout@v5
        with:
          persist-credentials: true
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ steps.get_installation_token.outputs.token }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"

      - run: yarn install --frozen-lockfile
      - run: yarn lint
      - run: yarn tsc --noEmit
      - run: yarn build

      - name: Update notice file
        run: node bin/generate-notice.js

      - name: Commit attribution changes if needed
        run: |
          if [[ -n "$(git diff -- ATTRIBUTIONS.txt)" ]]; then
              git config user.name "github-actions[bot]"
              git config user.email "github-actions[bot]@users.noreply.github.com"
              git add ATTRIBUTIONS.txt
              git commit -m "Update ATTRIBUTIONS.txt"
              git push
          fi
